body {
  margin: 0;
  font-family: "Poppins", sans-serif;

  /* 🔥 PREMIUM GRADIENT */
  background: linear-gradient(135deg, #1d3557 0%, #2a4f7a 40%, #457b9d 100%);
}

/* Page */
.results-page {
  padding: 40px 60px;
  min-height: 100vh;
   background: linear-gradient(135deg, #1d3557 0%, #457b9d 100%);
}

/* Top bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* ✨ GLASS EFFECT */
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);

  padding: 18px 28px;
  border-radius: 12px;
  margin-bottom: 30px;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.top-bar h2 {
  margin: 0;
  font-size: 20px;
  color: #1d3557;
}

.top-bar p {
  margin: 4px 0 0;
  color: #666;
  font-size: 14px;
}

.top-bar button {
  background: #1d3557;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.top-bar button:hover {
  background: #0b2545;
}

/* List */
.car-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Card */
.car-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* ✨ GLASS CARD */

  background: rgba(255, 255, 255, 0.96);

  backdrop-filter: blur(12px);

  padding: 22px;
  border-radius: 14px;

  transition: all 0.25s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.car-card:hover {
  transform: translateY(-4px) scale(1.01);
}

/* Left */
.car-left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.car-left img {
  width: 110px;
  transition: 0.3s;
}

.car-card:hover img {
  transform: scale(1.05);
}

.car-left h3 {
  margin: 0;
  font-size: 20px;
  color: #1d3557;
}

.car-left p {
  margin: 6px 0;
  color: #555;
}

/* Features */
.features {
  display: flex;
  gap: 14px;
  font-size: 13px;
  color: #444;
  margin-top: 6px;
}

/* Right */
.car-right {
  text-align: right;
}

.discount {
  color: #2ecc71;
  font-size: 13px;
  font-weight: 600;
}

/* Price */
.car-right h2 {
  margin: 6px 0;
  font-size: 24px;
  color: #1d3557;
}

.old {
  text-decoration: line-through;
  color: #aaa;
  font-size: 14px;
}

.car-right small {
  display: block;
  color: #777;
  margin-bottom: 10px;
  font-size: 12px;
}

/* Button */
.car-right button {
  background: linear-gradient(135deg, #ff6b00, #ff8c42);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s;
}

.car-right button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(255, 107, 0, 0.4);
}

/* Mobile */
@media (max-width: 768px) {
  .results-page {
    padding: 20px;
  }

  .car-card {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .car-right {
    width: 100%;
    text-align: left;
  }
}